body {
	margin: 0;
	font-family: monospace;
}

.makeup-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* card container */
.makeup-container > div {
	position: relative;
	text-align: center;
	border: grey solid 1px;
	padding: 1rem;
	width: 10rem;
	height: 25rem;
	display: inline-grid;
	margin: 1rem 2rem;
	box-shadow: 3px 4px #e04b52;
}

.makeup-container > div > h2 {
	/* width: 15rem; */
}

/* .makup pic {
	justify-self: 
	height: 12rem;
	width: auto;
} */

.input-text {
	border-radius: 5px;
	height: 2rem;
	width: 50%;

	font-size: 16px;
	font-family: monospace;
	margin: 3px;
}
/* .input-description { */
/* width: 50%; */
/* } */

.input-boxes {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.submit {
	width: 15rem;
	height: 3rem;
	border-radius: 5px;
	font-size: 16px;
	font-family: monospace;
	margin: 3px;
}

.like-btn {
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	height: 3rem;
	/* width: max-content; */
	color: whitesmoke;
	font-size: 18px;
	justify-self: center;
	appearance: none;
}

.like-btn.selected > svg > path {
	fill: #f074ac;
}

/* button:hover {
	background-color: whitesmoke;
	border: #e04b52 solid 1px;
	color: #e04b52;
} */
